<amp-analytics type="gtag" data-credentials="include" id="analytics1">
    <script type="application/json">
        {
            "vars" : {
                "gtag_id": "{{ site.uaid }}",
                "config" : {
                    "{{ site.uaid }}": { "groups": "default" }
                }
            },
            "triggers": {
                "trackPageview": {
                    "on": "visible",
                    "request": "pageview"
                }
            }
        }
    </script>
</amp-analytics>