<div class="container">
    {% for post in posts %}
    <article>
        <header>
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p class="meta">
                <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_long_string }}</time>
            </p>
        </header>
        <div class="main-text">
            {% if post.image != site.image %}
            <img src="{{ post.image }}" alt="{{ post.title }}" class="thumbnail" width="240" height="120">
            {% endif %}
            {{ post.excerpt }}
            <a href="{{ post.url }}">Read more <i class="fa fa-angle-right"></i></a>
        </div>
        <footer class="meta">
            <p>
                {% for tag in post.tags %}
                {% if forloop.first %}Tags:{% endif %}
                <span class="a">{{ tag }}</span>
                {% endfor %}
            </p>
            <p>
                {% for category in post.categories %}
                {% if forloop.first %}Categories:{% endif %}
                <a href="/{{ category | slugify }}.html">{{ category }}</a>
                {% endfor %}
            </p>
        </footer>
    </article>

    <div class="vspace"></div>
    <div class="vspace"></div>
    <div class="vspace"></div>
    {% endfor %}
</div>
