<header class="header">
    <div class="container">
        <div class="row">
            <div class="six columns logo">
                {% if page.url != "/" %}
                <a href="/" rel="index">kutyba.it</a>
                {% endif %}
            </div>

            <nav class="six columns">
                <a href="/blog.html">
                    blog
                </a>
                {% if site.github_username %}
                <a class="social-media" target="_blank" href="https://github.com/{{ site.github_username }}" id="github-link">
                    <i class="fa fa-github-square"></i>
                </a>
                <amp-analytics type="googleanalytics" id="analytics-github-link">
                    <script type="application/json">
                        {
                            "vars": {
                                "account": "{{ site.uaid }}"
                            },
                            "triggers": {
                                "trackClickOnGithubLink": {
                                    "on": "click",
                                    "selector": "#github-link",
                                    "request": "social",
                                    "vars": {
                                        "socialNetwork": "github",
                                        "socialAction": "open",
                                        "socialTarget": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
                                    }
                                }
                            }
                        }
                    </script>
                </amp-analytics>
                {% endif %}
                {% if site.linkedin_username %}
                <a class="social-media" target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" id="linkedin-link">
                    <i class="fa fa-linkedin-square"></i>
                </a>
                <amp-analytics type="googleanalytics" id="analytics-linkedin-link">
                    <script type="application/json">
                        {
                            "vars": {
                                "account": "{{ site.uaid }}"
                            },
                            "triggers": {
                                "trackClickOnLinkedinLink": {
                                    "on": "click",
                                    "selector": "#linkedin-link",
                                    "request": "social",
                                    "vars": {
                                        "socialNetwork": "linkedin",
                                        "socialAction": "open",
                                        "socialTarget": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
                                    }
                                }
                            }
                        }
                    </script>
                </amp-analytics>
                {% endif %}
                {% if site.twitter_username %}
                <a class="social-media" target="_blank" href="https://twitter.com/{{ site.twitter_username }}" id="tt-link">
                    <i class="fa fa-twitter-square"></i>
                </a>
                <amp-analytics type="googleanalytics" id="analytics-tt-link">
                    <script type="application/json">
                        {
                            "vars": {
                                "account": "{{ site.uaid }}"
                            },
                            "triggers": {
                                "trackClickOnTwitterLink": {
                                    "on": "click",
                                    "selector": "#tt-link",
                                    "request": "social",
                                    "vars": {
                                        "socialNetwork": "twitter",
                                        "socialAction": "open",
                                        "socialTarget": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
                                    }
                                }
                            }
                        }
                    </script>
                </amp-analytics>
                {% endif %}
            </nav>
        </div>
    </div>
</header>
