<header class="header">
    <div class="container">
        <div class="row">
            <div class="six columns logo">
                {% if page.url != "/" %}
                <a href="/" rel="index">kutyba.it</a>
                {% endif %}
            </div>

            <nav class="six columns">
                <!--<a href="/blog.html">
                    blog
                </a>-->
                {% if site.github_username %}
                <a class="social-media" target="_blank" rel="noopener" href="https://github.com/{{ site.github_username }}" id="github-link">
                    <span class="fa fa-github-square" aria-hidden="true"></span><span class="visuallyhidden">github</span>
                </a>
                <amp-analytics type="gtag" data-credentials="include" id="analytics-github-link">
                    <script type="application/json">
                        {
                            "vars" : {
                                "gtag_id": "{{ site.uaid }}",
                                "config" : {
                                    "{{ site.uaid }}": { "groups": "default" }
                                }
                            },
                            "triggers": {
                                "trackClickOnGithubLink": {
                                    "on": "click",
                                    "selector": "#github-link",
                                    "request": "social",
                                    "vars": {
                                        "socialNetwork": "github",
                                        "socialAction": "open",
                                        "socialTarget": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
                                    }
                                }
                            }
                        }
                    </script>
                </amp-analytics>
                {% endif %}
                {% if site.linkedin_username %}
                <a class="social-media" target="_blank" rel="noopener" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" id="linkedin-link">
                    <span class="fa fa-linkedin-square" aria-hidden="true"></span><span class="visuallyhidden">linkedin</span>
                </a>
                <amp-analytics type="gtag" data-credentials="include" id="analytics-linkedin-link">
                    <script type="application/json">
                        {
                            "vars" : {
                                "gtag_id": "{{ site.uaid }}",
                                "config" : {
                                    "{{ site.uaid }}": { "groups": "default" }
                                }
                            },
                            "triggers": {
                                "trackClickOnLinkedinLink": {
                                    "on": "click",
                                    "selector": "#linkedin-link",
                                    "request": "social",
                                    "vars": {
                                        "socialNetwork": "linkedin",
                                        "socialAction": "open",
                                        "socialTarget": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
                                    }
                                }
                            }
                        }
                    </script>
                </amp-analytics>
                {% endif %}
            </nav>
        </div>
    </div>
</header>