---
layout: blog
---

<div class="container">
    <div class="vspace"></div>

    <article class="single">
        <header>
            <h1>{{ page.title }}</h1>
            <p class="meta">
                <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>
            </p>
        </header>
        <div class="main-text">
            {% if page.image != site.image %}
            <figure class="cover">
                <img src="{{ page.image }}" alt="{% if page.image_caption %}{{ page.image_caption | xml_escape }}{% else %}{{ page.title }}{% endif %}" width="960" height="480">
                {% if page.image_caption %}
                <figcaption>
                    {{ page.image_caption }}
                </figcaption>
                {% endif %}
            </figure>
            {% endif %}

            {{ content }}
        </div>
        <footer class="meta">
            <p>
                {% for tag in page.tags %}
                {% if forloop.first %}Tags:{% endif %}
                {{ tag }}{% if forloop.last == false %},{% endif %}
                {% endfor %}
            </p>
            <p>
                {% for category in page.categories %}
                {% if forloop.first %}Categories:{% endif %}
                <a href="/{{ category | slugify }}.html">{{ category }}</a>{% if forloop.last == false %},{% endif %}
                {% endfor %}
            </p>
        </footer>
        <section class="meta">
            <h2>Comments</h2>
            <amp-iframe width=600 height=140
                        layout="responsive"
                        sandbox="allow-scripts allow-same-origin allow-modals allow-popups allow-forms"
                        resizable
                        frameborder="0"
                        src="https://disqus.kutyba.it/#{{ page.url }}">
                <div overflow tabindex=0 role=button aria-label="Read more">Read more!</div>
            </amp-iframe>
        </section>
    </article>

    <div class="vspace"></div>
</div>